
{% extends 'admin/main.html' %}  
{% load static %}

{%block title %}
Admin | Marked materials
{% endblock %}


{% block content %}
<p>
    {% for message in messages %}
    <div class="message-box {{ message.tags }}">
        {{ message }}
    </div>
     {% endfor %}
     <script>
     setTimeout(function() {
         document.querySelectorAll('.message-box').forEach(function(el) {
             el.style.display = 'none';
         });
     }, 6000); // Hide after 3 seconds
     </script>
     <style>
     .message-box {
         padding: 10px;
         margin: 10px 0;
         border-radius: 5px;
     }
     
     .success { background-color: lightgreen; color: black; }
     .error { background-color: lightcoral; color: white; }
     </style> 
</p>
            <!-- Marked Materials Content -->
            <div class="page-content">
                <div class="page-header">
                    <h1>Marked Examination Materials</h1>
                    <a href="addmarked">
                        <button class="btn-primary">
                            <i class="fas fa-plus"></i> Add marked item
                        </button>
                        </a>
                </div>

                <form method="post" action="marked" class="filter-container">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="filter">

                    <div class="filter-group">
                        <label for="courseFilter">Course</label>
                        <input list="courses" name="course" placeholder="courses..." required>
                            <datalist id="courses">
                                {% for course in courses %}
                                <option value="{{ course }}" {% if course == request.POST.course %}selected{% endif %}>{{ course }}</option>
                                {% endfor %}
                            </datalist>
                    </div>
                
                    <div class="filter-group">
                        <label for="departmentFilter">Department</label>
                        <input list="dept" name="department" placeholder="Department..." required>
                        <datalist id="dept">
                          {% for department in departments %}
                           <option value="{{ department }}" {% if department == request.POST.department %}selected{% endif %}>{{ department }}</option>
                          {% endfor %}
                           </datalist>
                    </div>
                
                    <div class="filter-group">
                        <label for="examTypeFilter">Exam Type</label>
                        <select id="examTypeFilter" name="exam_type" required>
                            <option value="">Exam type</option>
                            <option value="Quiz" {% if request.POST.exam_type == 'quiz' %}selected{% endif %}>Quiz</option>
                            <option value="Test 1" {% if request.POST.exam_type == 'test 1' %}selected{% endif %}>Test 1</option>
                            <option value="Test 2" {% if request.POST.exam_type == 'test 2' %}selected{% endif %}>Test 2</option>
                            <option value="UE" {% if request.POST.exam_type == 'UE' %}selected{% endif %}>UE</option>
                        </select>
                    </div>
                
                    <div class="filter-group">
                        <label for="yearFilter">Academic Year</label>
                        <select id="yearFilter" name="year" required>
                            <option value="">Academic year</option>
                            {% for year in years %}
                            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="filter-group">
                        <label for="semesterFilter">Semester</label>
                        <select id="semesterFilter" name="semester" required>
                            <option value="">Semester</option>
                            {% for semester in semesters %}
                            <option value="{{ semester }}" {% if semester == selected_semester %}selected{% endif %}>{{ semester }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <button class="filter-btn" type="submit">
                        <i class="fas fa-filter"></i> Apply Filter
                    </button>
                </form>


            </div>
      
            <div class="data-table-container">
                <table class="data-table" id="recordsTable">
                    <thead>
                        <tr>
                            <th>Academic Year</th>
                            <th>Semester</th>
                            <th>Exam Type</th>
                            <th>Course</th>
                            <th>Lecturer</th>
                            <th>Department</th>
                            <th>Returned Date</th>
                            <th>Booklets</th>
                            <th>Condition</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for all in allRecord %}
                        <tr>
                            <td>{{all.academic_year}}</td>
                            <td>{{all.semester_number}}</td>
                            <td>{{all.exam_type}}</td>
                            <td>{{all.course}}</td>
                            <td>{{all.lect_name}}</td>
                            <td>{{all.department}}</td>
                            <td>{{all.return_date}}</td>
                            <td>{{all.number_of_booklets}}</td>
                            <td>
                                {% if all.condition == "excellent" %}
                                <div class="return-status">
                                    <span class="condition-badge excellent">Excellent</span>
                                </div> 
                                {% elif all.condition == "good" %}
                                <div class="return-status">
                                    <span class="condition-badge good">Good</span>
                                </div>
                                {% elif all.condition == "fair" %}
                                <div class="return-status">
                                    <span class="condition-badge fair">Fair</span>
                                </div>
                                {% elif all.condition == "poor" %}
                                <div class="return-status">
                                    <span class="condition-badge damaged">Poor</span>
                                </div>
                                {% else %}
                                <div class="return-status">
                                    <span class="condition-badge damaged">Damaged</span>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                
                                <form method="post" action="{% url 'delete_returned_item' all.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit"  class="btn-icon" onclick="return confirm('Are you sure? Item will be deleted!');"  title="Delete Item">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    
                                </form>
                            </td>
                            
                            
                             {% empty %}
                                <td style="color: red; text-align: center;" colspan="9">
                                    No Such Marked Records
                                </td>
                        </tr>
        
                       
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        
            <div class="pagination" id="paginationContainer"></div>
        
        

    <!-- Modal for Recording Marked Material -->
   

    <script src="js/marked-materials.js"></script>
    {% endblock %}